<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div class="alert alert-danger">
            Are you sure you want to delete {{listing.title}}?
            <div>
                <input type="submit" value="Confirm" class="btn btn-danger"/>
                <a href="/" class="btn btn-success">Cancel</a>
            </div>

        </div>
    </form>
</body>
</html>